@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Playfair+Display&family=Spartan:wght@400;600&display=swap');

a {
    text-decoration: none;
}

body {
    background-color: rgb(16, 19, 19);
    font-family: 'Spartan', sans-serif;
}

.container { 
    width: 1024px;
    margin-left: auto;
    margin-right: auto; 
}

.nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 2rem;
    padding-bottom: 4rem;
    font-family: 'Spartan', sans-serif;
}

.navbutton {
    color: white;
    padding-left: 1rem;
    font-size: 2rem;
}

.profile {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    margin: 0%;
    /* background-color: darkslategray; */
    /* padding: 2rem; */
}

.profile-text {
    padding-left: 1rem;
    color: white;
    font-family: 'Spartan', sans-serif;
/*     margin-top: auto;
    margin-bottom: auto; */
}


#hi {
    font-family: 'Spartan', sans-serif;
}
 

#name {
    font-size: 4rem;
    margin-top: -1rem;
    margin-bottom: -1rem;
    text-indent: -5px;
    font-family: 'Spartan', sans-serif;
    font-weight: bolder;
}

.profile-text p {
    font-size: 1.5rem;
    font-family: 'Libre Baskerville', serif;
}

.download-resume {
    display: inline-block;
    color: white;
    padding: 1rem;
    background-color: #a73a3a;
    text-align: center;
    margin: 4rem;
    font-size: 1.5rem;

}

.profile-photo img {
    height: 25rem;
    width: 28rem;
}

footer{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

footer .icons {
    display: flex;
    justify-content: space-between;
    opacity: 20%;
} 

footer a {
    width: 30%;
}

.container p {
    color: white;
}

.container a {
    color: white;
}

.container h2 {
    color: white;
}