.container p {
    color: white;
}

button{
    width: 60px;
    height: 50px;
    color: white;
    background-color: rgb(105, 9, 105);
    border: 1px solid white;
}

button:hover{
    background-color: purple;
    transition-duration: 200ms;
}

button:active{
    transition-duration: 500ms;
}

.calculator-class {
    max-width: 100%;
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    border: 1px white solid;
    padding: 20px;
}

.calculator-display {
    word-wrap:unset; 
    max-width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px;
}

#calc_string {
    text-align: right;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px;
}


#calc_output {
    font-size: xx-large;
    text-align: right;
    max-width: 100%;
    text-overflow:clip;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px;
}

.calculator{
    display: flex;
    max-width: 100%;

}


#numpad {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    padding: 20px;
}

#symbols {
    width: 20%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px 20px 20px 0px;
    margin-right: 10px;
    /*padding: 20px;*/
    grid-row-gap: 10px;
}

#cancelButton {
    align-self: flex-end;
    margin-right: 30px;
}